name: Development Deployment
run-name: Development Deployment
on: 
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Execute remote SSH commands to deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.REMOTE_IP }}
        username: ${{ secrets.REMOTE_USER }}
        password: ${{ secrets.REMOTE_PASSWORD }}
        port: ${{ secrets.SSH_PORT }}
        script: |
            cd /home/eltech/E4APlatform
            git pull
            docker restart e4a_backend e4a_frontend